body {
  background-color: #f5f0e8;
  font-family: "Inter Tight", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0 10px 0 10px;
}

h1 {
  font-family: "Anton SC", sans-serif;
}

/* ----- File Upload Area -------- */

.upload-container {
  max-width: 400px;
  width: 100%;
}

.upload-area {
  border: 2px dashed #f4a460;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  margin-bottom: 10px;
}

.upload-area.highlight {
  border-color: #218838;
}

.icon {
  font-size: 24px;
}

.file-info {
  background-color: #f4a460;
  border-radius: 5px;
  padding: 10px;
  display: none;
  align-items: center;
  margin-bottom: 10px;
}

.file-icon {
  margin-right: 0.35rem;
}

#file-name {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #f4a460;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 0 2px 0;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 70%;
}

/* ----- Table Preview Modal -------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.close {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.total-row {
  font-weight: bold;
}

.button-icon {
  margin-right: 5px;
}

#previewTable {
  margin-top: 50px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 75px;
}

.button-group {
  display: flex;
  gap: 12px;
  align-items: center;
}

#view-btn,
#download-btn {
  display: none;
}

.fa-file-excel {
  color: black;
}

.close {
  color: black;
  transition: all 0.2s ease;
}

.close:hover {
  color: #f4a460;
}

.modal-close-btn {
  margin-top: 15px;
}
